/* ---- Carousels ---- */
.list {
  width:2000px;
  height:200px;
  overflow:visible;
}

.viewport {
  width:76.5%;
  height:200px;
  margin: auto;
  margin-top: 2%;
  overflow:hidden;
}

div[class^='infinite-carousel']  {
  position: relative;
}

.item {
  width:200px;
  height:200px;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  margin-right:10px;
  float: left;
  cursor: pointer;
  /*display: inline-block;*/
}

.movie_1 {
  background-image: url('https://farm1.staticflickr.com/167/377069943_9c5acf3189_z.jpg?zz&#x3D;1'); /*CREATIVE COMMONS PICTURE*/
  background-size: 100% 100%;
}

.movie_2 {
  background-image: url('https://farm1.staticflickr.com/143/377278868_1e5c3b1d2d_z.jpg?zz&#x3D;1'); /*CREATIVE COMMONS PICTURE*/
  background-size: 100% 100%;
}

.movie_3 {
  background-image: url('https://farm1.staticflickr.com/161/375370884_2a1b606572_z.jpg?zz&#x3D;1'); /*CREATIVE COMMONS PICTURE*/
  background-size: 100% 100%;
}

.movie_4 {
  background-image: url('https://farm1.staticflickr.com/196/527142856_bb019299a3_z.jpg?zz&#x3D;1'); /*CREATIVE COMMONS PICTURE*/
  background-size: 100% 100%;
}

.movie_5 {
  background-image: url('https://farm1.staticflickr.com/896/26287198707_71496834e4_z.jpg'); /*CREATIVE COMMONS PICTURE*/
  background-size: 100% 100%;
}

.movie_6 {
  background-image: url('https://farm1.staticflickr.com/129/418119336_d25b65792e_z.jpg'); /*CREATIVE COMMONS PICTURE*/
  background-size: 100% 100%;
}

.carousel-go_left {
  position: absolute;
  top: 35%;
  left: 2.5%;
}

.carousel-go_right {
  position: absolute;
  top: 35%;
  left: 92.5%;
}

.media-content {
  display: none;
}

.media-content a {
  float: right;
}

.hovered {
  display: inherit;
  position: relative;
  top: 72%;
  padding: 5%;
  text-align: left;
  overflow-wrap: break-word;
  background: rgba(225, 225, 225, 0.5);
  color: BLACK;
}
