/* ---- Carousels ---- */
.list {
  width:2000px;
  height:200px;
  overflow:visible;
}

.viewport {
  width:76.5%;
  height:200px;
  margin: auto;
  margin-top: 2%;
  overflow:hidden;
}

div[class^='infinite-carousel']  {
  position: relative;
}

.item {
  width:350px;
  height:200px;
  text-align: center;
  vertical-align: middle;
  margin-right:10px;
  float: left;
  cursor: pointer;
  /*display: inline-block;*/
}

div[class^="kids_"], div[class*="movie_"] {
  background-size: 100% 100%;
  cursor: pointer;
}

.movie_1 {
  background-image: url('https://farm1.staticflickr.com/167/377069943_9c5acf3189_z.jpg?zz&#x3D;1'); /*CREATIVE COMMONS PICTURE*/
}

.movie_2 {
  background-image: url('https://farm1.staticflickr.com/143/377278868_1e5c3b1d2d_z.jpg?zz&#x3D;1'); /*CREATIVE COMMONS PICTURE*/
}

.movie_3 {
  background-image: url('https://farm1.staticflickr.com/161/375370884_2a1b606572_z.jpg?zz&#x3D;1'); /*CREATIVE COMMONS PICTURE*/
}

.movie_4 {
  background-image: url('https://farm1.staticflickr.com/196/527142856_bb019299a3_z.jpg?zz&#x3D;1'); /*CREATIVE COMMONS PICTURE*/
}

.movie_5 {
  background-image: url('https://farm1.staticflickr.com/896/26287198707_71496834e4_z.jpg'); /*CREATIVE COMMONS PICTURE*/
}

.movie_6 {
  background-image: url('https://farm1.staticflickr.com/129/418119336_d25b65792e_z.jpg'); /*CREATIVE COMMONS PICTURE*/
}

.movie_7 {
  background-image: url('https://farm4.staticflickr.com/3428/3883475162_9bf601fbfd.jpg'); /*CREATIVE COMMONS PICTURE*/
}

.movie_8 {
  background-image: url('https://farm2.staticflickr.com/1767/42546751314_1352543258.jpg'); /*CREATIVE COMMONS PICTURE*/
}

.movie_9 {
  background-image: url('https://farm4.staticflickr.com/3272/2846507993_0242e8ed3f.jpg'); /*CREATIVE COMMONS PICTURE*/
}

.movie_10 {
  background-image: url('https://farm5.staticflickr.com/4017/4545780337_3dcb4122a4.jpg'); /*CREATIVE COMMONS PICTURE*/
}

.movie_11 {
  background-image: url('https://farm4.staticflickr.com/3645/3325473401_2903133f49.jpg'); /*CREATIVE COMMONS PICTURE*/
}

.movie_12 {
  background-image: url('https://farm3.staticflickr.com/2204/1988941154_b0f960f4c9.jpg'); /*CREATIVE COMMONS PICTURE*/
}

.children-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 200px);
  grid-gap: 50px;
}

.children-container > div {
  border-radius: 50%;
}

.kids_1 {
  background-image: url('https://farm5.staticflickr.com/4075/5410720755_b500448b2a.jpg'); /*CREATIVE COMMONS PICTURE*/
}

.kids_2 {
  background-image: url('https://farm8.staticflickr.com/7192/6962592575_567aa2d959.jpg'); /*CREATIVE COMMONS PICTURE*/
}

.kids_3 {
  background-image: url('https://farm8.staticflickr.com/7191/6816476566_9312f29f28.jpg'); /*CREATIVE COMMONS PICTURE*/
}

.kids_4 {
  background-image: url('https://farm8.staticflickr.com/7175/6387951013_97df143678.jpg'); /*CREATIVE COMMONS PICTURE*/
}

.kids_5 {
  background-image: url('https://farm2.staticflickr.com/1213/1286358948_8ca705432c.jpg'); /*CREATIVE COMMONS PICTURE*/
}

.kids_6 {
  background-image: url('https://farm9.staticflickr.com/8118/8937055505_e3db4b05c8.jpg'); /*CREATIVE COMMONS PICTURE*/
}

.carousel-go_left {
  position: absolute;
  top: 35%;
  left: 2.5%;
}

.carousel-go_right {
  position: absolute;
  top: 35%;
  left: 92.5%;
}

.media-content {
  display: none;
}

.media-content a {
  float: right;
}

.hovered {
  display: inherit;
  position: relative;
  top: 72%;
  padding: 5%;
  text-align: left;
  overflow-wrap: break-word;
  background: rgba(225, 225, 225, 0.5);
  color: BLACK;
}

.media-content .add-to {
  float: none;
  position: relative;
  left: 20%;
  padding: 0 8%;
}

.add-to_selected {
  background: #ff312e;
}

.dropdown-toggle {
  background-color: transparent !important; /*Removes the highlight when clicking on the dropdown*/
}

.play {
  margin-right: 15px;
  margin-bottom: 20px;
}
